body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    margin-bottom: 70px;
}

.section-a-1 {
    width: 40%;
    height: 234px;
    padding-left: 10%;
    margin-top: 150px;

}

.section-a-2 {
    width: 40%;
    height: 844px;
    padding-left: 10%;
    margin-top: 43px;
}

.section-b {
    background-image: url(images/Background-2.png);
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: 100% 96%;
    height: 600px;

}

.section-b-1 {
    width: 30%;
    padding-left: 10%;
    margin-top: 10px;
}

.section-b-2 {
    width: 40%;
    height: 300px;
    padding-left: 10%;
    margin-top: 150px;
    text-align: justify;

}

.section-c-1 {
    text-align: center;
    padding: 22px 500px;
    width: 706px;
    height: 159px;

}

.section-c-cover {
    box-shadow: 10px 10px 40px lightgray;
    width: 45%;
    height: 65%;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;

}

.recipie {
    height: 308px;
    width: 92%;
    border-radius: 30px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

.social-media {
    width: 90%;
    height: 5%;
    box-shadow: 10px 10px 40px lightgray;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
}

h1 {
    line-height: 78px;
    font-size: 60px;
    font-weight: 700;
}

p {
    color: #828282;
}

.orange {
    color: #FBA24F;
}

.button {
    text-align: center;
    position: absolute;
    align-items: center;
    display: flex;
    width: 192px;
    height: 68px;
    text-decoration: none;
    background-color: #FBA24F;
    border-radius: 100px;
    padding: 24px, 32px;
    gap: 16px;
    color: white;
    justify-content: center;
    margin-top: 70px;
}

.footer {
    background-color: black;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-text {
    color: white;
}

h3 {
    color: #828282;
}

.social-item {
    padding-left: 14%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 1%;
}